<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/02%20open%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!conda list | grep pandas

/bin/bash: conda: command not found

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('friend_list.csv')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [9]:
df.head(2)  ## 처음 5개의 행만 보여준다. ()안에 숫자로 인덱스를 할 수 있다.

    name  age        job
0   John   20    student
1  Jenny   30  developer

In [10]:
df.tail(1) ## 뒤에서 5개의 행만 보여준다.

    name  age     job
5  Chris   25  intern

In [14]:
df = pd.read_csv('friend_list.txt')
df
##txt 파일임에도 csv로 불러오면 작동이 된다. delimiter가 , 인 경우였다.

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [17]:
df = pd.read_csv('friend_list_tab.txt')
df
#탭으로 구분되어 있어서 제대로 읽지를 못한다.

         name\tage\tjob
0     John\t20\tstudent
1  Jenny\t30\tdeveloper
2     Nate\t30\tteacher
3    Julia\t40\tdentist
4    Brian\t45\tmanager
5     Chris\t25\tintern

In [20]:
df = pd.read_csv('friend_list_tab.txt', delimiter = '\t')
df

## delimiter를 탭으로 설정해주면 제대로 읽는다.

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [21]:
df = pd.read_csv('friend_list_no_head.csv')
df
##헤더가 따로 없어서 첫번째 정보로 들어가야 하는 행이 헤드로 들어가버렸다.

    John  20    student
0  Jenny  30  developer
1   Nate  30    teacher
2  Julia  40    dentist
3  Brian  45    manager
4  Chris  25     intern

In [23]:
df = pd.read_csv('friend_list_no_head.csv', header=None)
df

#헤더가 없음을 명시하면 임의의 헤더 0,1,2가 출력된다.

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher
3  Julia  40    dentist
4  Brian  45    manager
5  Chris  25     intern

In [25]:
df.columns = ['name', 'age', 'job']

#헤더를 명시해주었다.

df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [26]:
##헤더를 만드는 과정까지 한 번에 할 수 있다. 

df = pd.read_csv('friend_list_no_head.csv', header=None, names = ['name', 'age','job'])
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern