<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/10%20none%20value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

school_id_list = [
                  {'name':'John', 'job':'teacher', 'age': 40},
                  {'name':'Nate', 'job':'teacher', 'age': 35},
                  {'name':'Yuna', 'job':'teacher', 'age': 37},
                  {'name':'Abraham', 'job':'student', 'age': 10},
                  {'name':'Brian', 'job':'student', 'age': 12},
                  {'name':'Janny', 'job':'student', 'age': 11},
                  {'name':'Nate', 'job':'teacher', 'age': None},
                  {'name':'John', 'job':'student', 'age': None},
]
df = pd.DataFrame(school_id_list, columns = ['name', 'job', 'age'])
df

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher   NaN
7     John  student   NaN

In [5]:
#none 값 찾기

df.info()

## age만 6 non-null이다. 즉, 2개는 none이라는 것이다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   job     8 non-null      object
 2   age     6 non-null      float64
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes

In [6]:
df.isna()

#true가 none 값이다.

    name    job    age
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False   True
7  False  False   True

In [7]:
df.isnull()

#true가 none 값이다.

    name    job    age
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False   True
7  False  False   True

In [9]:
#none값을 0으로 바꾸기

df.age = df.age.fillna(0)
df

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher   0.0
7     John  student   0.0

In [11]:
## 나이를 중간값으로 대체하기
school_id_list = [
                  {'name':'John', 'job':'teacher', 'age': 40},
                  {'name':'Nate', 'job':'teacher', 'age': 35},
                  {'name':'Yuna', 'job':'teacher', 'age': 37},
                  {'name':'Abraham', 'job':'student', 'age': 10},
                  {'name':'Brian', 'job':'student', 'age': 12},
                  {'name':'Janny', 'job':'student', 'age': 11},
                  {'name':'Nate', 'job':'teacher', 'age': None},
                  {'name':'John', 'job':'student', 'age': None},
]
df = pd.DataFrame(school_id_list, columns = ['name', 'job', 'age'])


df['age'].fillna(df.groupby('job')['age'].transform('median'), inplace = True)
## age열의 null 값을 다음의 값으로 대체한다. age열의 값들을 job을 기준으로 groupby한 뒤 '중간값'으로 대체한다.(transform('median')) 또한 이를 바로 적용한다.(inplace)
df

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher  37.0
7     John  student  11.0