<a href="https://colab.research.google.com/github/2017130744/pandas/blob/main/11%20apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
date_list = [
             {'yyyy-mm-dd': '2000-06-27'},
             {'yyyy-mm-dd': '2002-09-24'},
             {'yyyy-mm-dd': '2005-12-20'}
]

df = pd.DataFrame(date_list,columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [6]:
def extract_year(column):
  return column.split('-')[0]

In [8]:
## year 열 추가하기
df['year'] = df['yyyy-mm-dd'].apply(extract_year)
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [9]:
def get_age(year, current_year):
  return current_year - int(year)

df['age'] = df['year'].apply(get_age, current_year = 2022)
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   22
1  2002-09-24  2002   20
2  2005-12-20  2005   17

In [10]:
def get_introduce(age, prefix, suffix):
  return prefix + str(age) + suffix

df['introduce'] = df['age'].apply(get_introduce, prefix = 'I am', suffix = 'years old')
df

   yyyy-mm-dd  year  age        introduce
0  2000-06-27  2000   22  I am22years old
1  2002-09-24  2002   20  I am20years old
2  2005-12-20  2005   17  I am17years old

In [11]:
def get_introduce_2(row):
  return "I was born in " + str(row.year) + ' my age is ' + str(row.age)

df.introduce = df.apply(get_introduce_2, axis=1)
df

##df.introduce는 df['introduce'] 와 같다.

   yyyy-mm-dd  year  age                        introduce
0  2000-06-27  2000   22  I was born in 2000 my age is 22
1  2002-09-24  2002   20  I was born in 2002 my age is 20
2  2005-12-20  2005   17  I was born in 2005 my age is 17